/* line 58, comet_button.scss */
a.buy {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 100px;
  height: 26px;
  line-height: 26px;
  padding-top: 1px;
  padding-bottom: 1px;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 1px #1b3605;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAcCAYAAACXkxr4AAAABmJLR0QA/wD/AP+gvaeTAAACEUlEQVRoge3avWoUURQH8P+Zubuzkw0SG2OXQixMQtBFBLWTSHwCC2VBtImwpU9hnToQizS+gIm1hhRxICGmEKMsKPEjEA2ZmTtz7z0WG8TdWO9ZmPt7gj8czsdchgDg2uP4Zr0ZLJmC59hCwRsaCmFUnbaLE9dJlrMNuv4kvk1xsLbQbjXnpx9gsnYZIdWkc1aC5RLfyg94vbuK9RdbaVnyXbrRGd+Zf9iavX/1Gd78XkFXv4NlI521EkJSmIpauHXuEV4mz7G+muwoq92VezNtvD1awX62KZ2xUgxKfDSbgCMszLTxSm9NK2aEF+qX8Ol7AsfSEavp80mCO+efghmhAoCAQhRGS+eqLI0cAfVuqb8XlbO+PUaBAgDjSrCVjlJtxpUATgtSmNx3iLDC5AB8QUZGf0Fs7keWsML+UxBtMt8hwrTJAPiRNTL6RlavQ0TzVN6ZDmHfIaLOLHU/smT1LfXCjyxxhR9Zo+U/S90XRFL/Ure5H1nCBj4M/VKXpgffsvwOkTXwuOivLGkDV1YGtgRm3yUSiAjanhaEAHuc/gobKkaap8LRqqkRj+E4PQIRrKKQ9r52f85OTk3AWAOtC98pQ0JEiKIIzbEYB91DIKT3CsYtHuxma8655sTFGI3xCASSzloJDIbRFl/2D/FjT6eWeZGA3q+kQY2W2GEO7H8lHSqCoQDbruROspxt/AHHBythj6wh4AAAAABJRU5ErkJggg==') no-repeat;
}
/* line 7, ../../../../home/stan/.gem/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
a.buy {
  *display: inline;
}
/* line 27, comet_button.scss */
a.buy:hover {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAcCAYAAACXkxr4AAAABmJLR0QA/wD/AP+gvaeTAAACGklEQVRoge3av2tTURQH8O95774fbQxIFyUBEQRBCREhiNpNqaJLXQQ3h6z9EwSd/As6SsHJRRAXMYJjKcRFUmxRh7qkKBQh1Obdd9/94RAtSeNqbuGdz5zhwOF8z7nhEQDUr4hraTVezYe66YwTYDNDIelkXvTkvlrpd/UG1VpiMT4RddpP7lZutpaxIOoIiHsyC9Zp/NR9vP/wGmuP3wzzrFiiczfmNx8+utO4d72NTwcd/Ci+wjrju9ZSCCjEqeg8GpVbeLX+DM+fvt2k+tVYv3y3Fu7kXezm275rLKV6chFnkxbu324bAevChbiG9cEXGGd911ZKu/IzLleX4YwLBQAQhSh07ruu0lLIEVAIADjc3tbydBwHAgCMLbghnhlbAPjTEGUlrOHLyidlJYC/DTEShifEK2XGGlIYyZHlWTHekFFkcUN84sg6ZiYiS5mMJ8QzZTIA45HFE+LVRGQVJoO1fPb6VExMiOGl7ps6emXxUvfryJXFS923iaXOD0P/ph6GHFl+TT0MObL8+sd/WXz2+jQVWc46OOe8FlVWRIT8sCEBzK9sEEZRBCml59LKKU1THGQDIIARIqHtb729xplLJ6GthpIKPCezQQDiNEZaibHzcQ9RQltUa4lFMRd0mg+qldMX5hDF4eiX7P9zQKEMvm9l6L3YH2pllwgYfUoq0mBV564JB/5scZYIWiTU09Ku9Lt64zeDrSTOnSBaHwAAAABJRU5ErkJggg==') no-repeat;
}
/* line 41, comet_button.scss */
a.buy:active {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAcCAYAAACXkxr4AAAABmJLR0QA/wD/AP+gvaeTAAAByUlEQVRoge2aP2sUURTFf/e9tzOJs2kkrhhBxEJMiFZBCLFIk9ov4sfJB7FNo4WFYDkRRUG0EVkjVtmd7Py7FrOGrKndN7D3Bw+mmOLxDmfOvMsRgLtPw75P3HFT6ROUgLE8hNoPJG/K9sX3d/Vb2doLBy51Jw8O0+zmw0BYV0Qk9jZXAlWlLoTfn2u+vp5Nm6o9knvPktP7h8nu6HFgeqaUEwWNvdUVQSDJhBubws+85tub8jQ0lW5vPgoUv5Rqosj8RWM5VBOlELi1E/jyarYTUHzIhPMfakJEoiyU4R0HLT4AOAFQLDoioSCue+z+qARzR2zm5x+AzhkmSFTkqiCI6REdc0i/kEVBxAI9Mn8v4xbqfcE+Wf3ieqibIHG55hCzSFQWHeLMIdG5elO3DImPWKj3Cwv1vjE/fwcmRh8wh/SNf0cnliFxWRydgAnSEzpBFMQDbdzNrCriuCyWBISmulCfZEJ5bnWTGCRDoSoUHI3zA/k4ziuGtx1rG4ITuRz+2vq/y4mQbgjZyDHOK3wiH2RrLxz4NXey/TzNRrsDwjpWlFsSXVEOxu8rPr2cTeuyPRKYV0lTd9yUViVdOkLtE8mbWVcl/QOaUH4XK7u2sgAAAABJRU5ErkJggg==') no-repeat;
  padding-top: 2px;
  padding-bottom: 0;
}

/* line 59, comet_button.scss */
a.phone {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 165px;
  height: 26px;
  line-height: 26px;
  padding-top: 1px;
  padding-bottom: 1px;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 1px #2a0400;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKUAAAAcCAYAAAAA7n9nAAAABmJLR0QA/wD/AP+gvaeTAAAB+klEQVR4nO3cvWoUURjG8f+bmVl2NipegIWKRJRkRawkde5ACIFgChXBj8raO7AzYCEi2KTxBnIFKiRbzIpiQG1sl8CKO19nZixWMWGtcxbm+V3BU7w858y8cAzgdszN2NjOGvo1hIicoAVwXSNJGx69SXlnWzGrEew+6C8tLt/aILq4BFHkO6e0RVlSfjvg49sdXiQHkxTW7H6P4b3+5eXrD58w2XlFkQzAlb6jSluEEZ1rN+ht3GHw/Bkvh1+GYdpwZWV9k587r8n3P/iOKG1Tlri991QY/fVN8uTp1bCBIDp/iVGyT+M7oLRWlQw4c/cxNQQhgAUBrih855I2y3NsOo7/vrSdtzQix4UAtXMaSvGudtMpDAFcllHpQimeuSwD/g5lnqkpxTuXHx3KLKPyGkfkf02p41s8m2lKHd/i27GmLLNUHzriXZmlgJpS5sjMnVIfOuLb7J1Sx7d4pv+UMneON2WqjY7451I1pcwZbXRk7mijI3NHGx2ZO7MbHYymUV2KH2aGO7LRqSbjcRDFXdJJ6jeZtFYcd/k1HmNQhaHx+fvocPnC2dO4qiYrCjWmnBgzo9vpcCqO+To6JDA+2VbMqsHuSidYPNfr0FkIMPMdVdqiaaCoK35MCoZFNXGwZjB9tmXB2K4a+ujZFjl5LjCS+s+zLb8BfFv7W16roC4AAAAASUVORK5CYII=') no-repeat;
}
/* line 7, ../../../../home/stan/.gem/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
a.phone {
  *display: inline;
}
/* line 27, comet_button.scss */
a.phone:hover {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKUAAAAcCAYAAAAA7n9nAAAABmJLR0QA/wD/AP+gvaeTAAACEUlEQVR4nO3cPWtUQRTG8f/cO7sbsga0VEgpviSm0piQSjGVhJDGVgTLYOX3ECSloF9BgkUIBKskKFhkwawvnWClGIy7e+9mXixWJSHWOxf2+X2CUxyeOecOcw3AZcv8uVq21nFxxsVoERkia4xrWrP34yisth07ZsqyMJ5nG09vzzVv3F0mvzAJVn0pQ+Ic/usX3rx6yaOt3W7hw6KZbWStJ7fmpufvP8RtruM/fwDvUpcqoyK35BcvYe8ssf3iGY9f77ZsN4Qrs8sr9DfXce1W6hJl1Lg+fr9FiHBzeYXO1vZVGyK5PT9J9+M+hJi6RBlR4VObiaV7+Eg+GB6zDN8vE5clI60sIM8B+LfR+KiUlGqwAME5fAipa5ERF9xgwbYAvijwmiclMV8UwN+mLAt8VFJKWr481pShVFJKeuF4Uw6ObyWlpPWf41tJKWn5k0nZU1JKcr7oAdq+pUK0fUvlaPuWyjm1fTvNlJLYyeNbM6VUgGZKqRx/+uO5klLSUlJK5SgppXJOJGUoeoQYibpqlESMMfjyz41OBr776zC3tRpFqScRksZYo07v5yEZeNsw7L/7djB9/WwT7z1l/4iIElOGw2AYq9c4U6/z9vsBDcN7M2VZqBs2HkzY5rXxOo08w6SuVEZGBEofaHX7PD903aPIooHBb1uahrUyMhOOPSYTGYYMXMOw14msth07vwFJiyQl2eZNagAAAABJRU5ErkJggg==') no-repeat;
}
/* line 41, comet_button.scss */
a.phone:active {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKUAAAAcCAYAAAAA7n9nAAAABmJLR0QA/wD/AP+gvaeTAAABm0lEQVR4nO3cS0pDMRTG8f9J0/qoTkVcgY/6ACeKY8EluAiX00W4AUFX4EzEQnUDgjgUvWq9Jg7SosWBI5tAv9+kF5pBBh85TXpzDGDVsz9ndD8iWwE8IhPkoG4aN6+Rk7uaS9vwHHjj4miG9pqHecAs9zRlWsQIFdCv4fydKkQObbtJ72iGzq6HhwgvAWLumcrUMGDBwZLBVQpmz9eRtU0Pj8NAjgaKTMpzAHOw5eHsjXUfodE2uA8Ko+RTBVjxEKDhIIUxqmZLRgFww2cPKZRaJSW3UQZTKE2hlPxGpz4e0rKpUEpuv8u3UimZjZdvtFJKfgqlFEehlOKMhVIbHSmB+/mpTY6UYOxISOVbSqDflFIchVKKo42OFEf/6EhxVL6lOHpLSIozdiQECqWUw0G6KOb+GCjynxzfFxa9wedroLHo4CnknJZMs0WX7uk4+PRN4/bqg85eK335HHVfRybHDBYMlh1cDqBl9G3Dc9A0Lo5nae+01IxAJmvUjOB6AKdvVHXk0CC1bZk3ugO1bZEMHNQt46Yatm35As5TX2mhHphbAAAAAElFTkSuQmCC') no-repeat;
  padding-top: 2px;
  padding-bottom: 0;
}

/* line 60, comet_button.scss */
a.collect {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 165px;
  height: 26px;
  line-height: 26px;
  padding-top: 1px;
  padding-bottom: 1px;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 1px #051b36;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKUAAAAcCAYAAAAA7n9nAAAABmJLR0QA/wD/AP+gvaeTAAACIklEQVR4nO3cv2oUURQG8O/MzGZ3skFiY+xSiIVJCLqIoHYSiU9goSyINhG29CmsUwdikcYXMLHWkCIOJMQUYpQFJf4JRENm5s7cPxYbxd3t9y7s93uCUxzOd87AXAGA+Nrjm8FYfdnpYh7ORCAaJAm1RGM7tjhtZcnKpsTXn9wOJF5vLDbrDxZmcHmqgkoovsukEVEahw/fSqy93sP2xovUleVdmbjR2m0sPJx7dv8qVt/8xru2gjbOd600IqJQ0Jiu4tGtc3j+MkGysbYbWaOuNO/NYvXtMbYOMt810ogpNbD1UUNg0VycxfYrNRPBufDShTEkn74DlhOS/Eg+n+LpnfOAc2EEAGEgUIX2XReNsFwBUdC5Zf5d2s4abwUR/S8CgFJbwLEpya9SWwBnTZkXmpOSvMvPVkg2JQ2NnqY0jG/yLi86PRgBQKY4Kcm/TDG+ach0xXemNMCmJM/6JyV3SvKs79BhfJNv3YdOwfgm/7K+75SMb/Ks79BhfJNvPYeOYXyTd107Zc5JSUMg5ychGjbdOyWvbxoCWW9TijNwjr9DkB8igkz93SkF5tdJGsa1CGmaey6NRtV4LcbxSQqImEgk3P/5tT03OTUNrQ0KpTgxaWBEBNVqFXF9HEeHbQjC95GFXsoO99attfV48iKqtQkI3yKgAXEOMFrh6MsB1I/91Bm3JEDn2RYJKstwdh5wfLaFBkw0JNhxtmxlycrmH7EkK2H/LcHrAAAAAElFTkSuQmCC') no-repeat;
}
/* line 7, ../../../../home/stan/.gem/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
a.collect {
  *display: inline;
}
/* line 27, comet_button.scss */
a.collect:hover {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKUAAAAcCAYAAAAA7n9nAAAABmJLR0QA/wD/AP+gvaeTAAACJklEQVR4nO3cvWsUQRgG8Gd2Zz+SMyBplDsQQRCU40Q4RE2nRNEmNoKdxbX5EwSt/AtSSsDKRhAb8QTLEDgbuWCCWsTmgkIQjpjb2d35sDgIOba/ObjnV2/xFi/vw7zDjgAA2bhxK06XNnQ+ajlnJIimSIhQy2SxX6ijdT3obQtZb69E8Znuw86L2trdNhrLEjIQvuukOaGtw+CvxvvPX/Bh8/mozLNVsXjpzs6Dp8+anUe30f12jJ9/ShjrfNdKcyIMBC6fi3CvWcOrd1v4+PrljogbN/Xm209hbz/H3kHuu0aaU1cbCdoXE3Qe3zfSwYb15Rg/toawhhOS/Ph+oLB2fQnOmVACQCgE8lL7rovmWF6MoxwATk7a1lpvBRGdJgGgNJZNSd6VZtyDEgBUYWGs8VoQkSommtLAGk5K8ksV48E4bsrSML7JO1WebsrCwjK+yTPGN82cifjOCsNJSd5lRSW+OSnJr4n4zkoDw6Ykz7LJgw7jm/xTlfjmQYc8m4xvTkqaARmX5zRrqstzxjd5Vl2eM77Js8rdN1dC5Fslvp2zcI6/Q5AfQgio/KQpAzP8l4VRFEEp5bk0mldpmmJ4nAEIjBQy2Tv81W+evXANWlsUhQI4MGlaBBDHKeK0hsP9rxBRsitkvb0SyIXuUutJbeH8FYRRPP6SaCocTFkg+72Lo/6bkdXFqgDGz7YEMt1wOm8Bjs+20JQJLWTSt1qt60Fv+z9yQiTOd+gNcgAAAABJRU5ErkJggg==') no-repeat;
}
/* line 41, comet_button.scss */
a.collect:active {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKUAAAAcCAYAAAAA7n9nAAAABmJLR0QA/wD/AP+gvaeTAAAB3UlEQVR4nO3cMWsUURQF4HPmvZ1VZytJFowgYiEmrFZBkFikSe0fyc/JD7FNo4VFIHYbURREmygxYrW7486bmWsxCaybft+DPV89xSsO977LYy4BwN9//iJz+ZE14RlgHiIrxZquN26b6rA+Pz2h39rdy7L+cf/RfuHvPob52yAZ+5SyJswMrEvUf75g/u3trG3CAfMHL8/yh/sjP3wKm13CqikAi31WWRsE8wK8s4H61xjV93dn3pqw7TeewMrfsDAF2H0osioWpkBJ+M0dzL++2fGAOfoCNvkJhVFisapENrgHoHXdUJOxa9i6S0o0BjADAFxN2oSqpMTXZbALJRVKSQAXQwkqk5IAVUpJzWKlJKkhR6LjjfatSinRqX1Lam4OOgqlxLZUKRVJie7/SpmpUkoCFl90dKeUFFCDjqRGg46kp8tg18QVSEmBKqWkZ/mZUXdKiWzpmRFQKCUVV6E0gA5AG/UwssaY4fqHRQ+wsfDXMS9g1STuwWRtMR/AQgkgazxd71O4GI96W7toZwSqCcz0i62sBkmgN0BWDBF+vAdd/rFbRuBuHfe3XxW94QjQMgJZITMD6hLh4gPmn1/P2ro6IHC9tqV/ZE2ltS0SAWu6fNw288P6/PTkH56QhNCKfpfRAAAAAElFTkSuQmCC') no-repeat;
  padding-top: 2px;
  padding-bottom: 0;
}

/* line 64, comet_button.scss */
a {
  font-family: tahoma, verdana, helvetica, arial, sans-serif;
  font-size: 12px;
  -webkit-user-drag: none;
  -moz-user-drag: none;
}

/* line 71, comet_button.scss */
body {
  margin: 10% 0;
  text-align: center;
}
