@import 'canvas';

html {
  width: 100%;
  height: 100%;
  background: canvas(640, 480,
    rounded-rectangle(0.5, 0.5, 639.5, 479.5, 10)
    brush(#000)
    stroke
    brush(#ffffcc)
    fill

    reset
    brush(#000)
    line-width(10)
    line-cap(round)

    move-to(20, 20)
    line-to(620, 460)
    stroke

    reset
    move-to(620, 20)
    line-to(20, 460)
    stroke

    reset
    line-width(1)
    dash-pattern(20, 10, 30, 10)
    circle(320, 240, 100)
    stroke
    dash-pattern(none)

    reset
    tolerance(10)
    circle(320, 240, 200)
    stroke
    tolerance(0.1)

    reset
    save
      rotate(10)
      translate(40, 120)
      scale(1, 0.25)
      circle(320, 240, 300)
      brush(rgba(#0000ff, 0.5))
      fill
      brush(#0000ff)
      line-width(5)
      stroke
    restore

    reset
    triangle(20, 20, 620, 20, 320, 100)
    triangle(320, 80, 280, 20, 360, 20)
    fill-rule(even-odd)
    fill

  ) no-repeat 50% 50%;
}
