@import 'canvas';

$width: 640px;
$height: 50px;

a {
  $shape: rounded-rectangle(0.5, 0.5, $width - 0.5, $height - 0.5, 10);

  background: canvas($width, $height,
    $shape
    brush(rgba(0, 0, 0, 0.5))
    stroke
    brush(0, 0, 0, $height, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.25) 35%, rgba(0, 0, 0, 0.25) 65%, rgba(0, 0, 0, 0.5))
    fill
  ) no-repeat 50% 50%;

  &:hover {
    background: canvas($width, $height,
      $shape
      brush(rgba(0, 0, 0, 0.75))
      stroke
      brush(0, 0, 0, $height, rgba(0, 0, 255, 0.1), rgba(0, 0, 255, 0.25) 35%, rgba(0, 0, 255, 0.25) 65%, rgba(0, 0, 255, 0.5))
      fill
    ) no-repeat 50% 50%;
  }

  &:active {
    background: canvas($width, $height,
      $shape
      brush(rgba(0, 0, 0, 0.75))
      stroke
      brush(0, 0, 0, $height, rgba(0, 0, 255, 0.05), rgba(0, 0, 255, 0.125) 35%, rgba(0, 0, 255, 0.125) 65%, rgba(0, 0, 255, 0.25))
      fill
      brush(0, $height, 0, 0, rgba(0, 0, 255, 0.1), rgba(0, 0, 255, 0.5))
      fill
    ) no-repeat 50% 50%;
  }
}

// ---------------------------------------------------------------------------

html {
  width: 100%;
  height: 100%;
}

a {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: $width;
  height: $height;
  margin-top: $height / 2 * -1;
  margin-left: $width / 2 * -1;
  text-align: center;
  line-height: $height;
  font-size: $height / 2;
  color: #000;
  text-decoration: none;
}
